{% load static %}
<link rel="stylesheet" href="{% static 'tournaments/style.css' %}">


{% if match %}
    <h1>{{match.pool.tournament}}</h1>

    <h3>{{match}}</h3>
    <p>Lieu: {{match.location}}</p>
    <p>Date: {{match.date}}</p>

    <p>Commentaires</p>



    {% if user.is_authenticated %}
        <p><a href="{% url 'tournaments:commentaire' match.id %}">Cliquez ici pour commenter</a></p>
    
    {% else %}
        <p><a href="{% url 'login' %}">Login</a> to comment</p>
    {% endif %}

{% else %}
    Ce match n'éxiste pas.
{% endif %}